@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */
/* ⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⫸ Initial styles ⫷⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢ */
/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */

:root {
  --color-dark-blue: #03424c;
  --color-light-blue: #138091;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
  font-family: "Oswald", sans-serif;
}

body {
  height: 100vh;
  color: #2b2d2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */
/* ⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⫸ App ⫷⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢ */
/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */

.app {
  min-width: 85vw;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  margin: auto 0;
  align-items: center;
}

/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */
/* ⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⫸ Header ⫷⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢ */
/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */

.custom-shape-divider-top-1733231526 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1733231526 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.custom-shape-divider-top-1733231526 .shape-fill {
  fill: #e18006;
}

.header img {
  max-width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000;
  width: 150px;
  top: 2rem;
  left: 4rem;
  border-radius: 20%;
}

.header-nav {
  right: 4rem;
  top: 3.5rem;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.search-box {
  position: relative;
}

.header-nav input {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 300px;
  padding-right: 50px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s box-shadow ease;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-dark-blue);
  width: 50px;
  height: 100%;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 0;
  color: #888;
  transition: 0.2s ease-out;
}

.header-nav button:hover {
  background: var(--color-light-blue);
}

.search-icon {
  font-size: 1.8rem;
  color: white;
}

.header-nav input:focus {
  outline: 1px outset var(--color-dark-blue);
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.2);
}

/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */
/* ⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⫸ GoalList ⫷⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢⬢ */
/* ▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜▛▀▜ */

.add-goal {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background: var(--color-dark-blue);
  transition: 0.2s ease-in-out, 0.5s box-shadow ease;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.add-goal:hover {
  background: var(--color-light-blue);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.goalList__text {
  font-size: 1.8rem;
  font-weight: 700;
}

.down-layer {
  background: blue;
  padding: 0 0 1rem 0;
}

.goalList {
  background: red;
  padding: 10rem;
  transform: translate(4%, 10%);
  opacity: 0.8;
}
